@use "tailwindcss";

:root {
  --color-border-secondary: #ffffff26;
  --rgb-background-primary: 14, 8, 8; /* #1A202C를 RGB 값으로 변환 */
}

body {
  margin: 0;
  padding: 0;
}

.resizer {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
  z-index: 1000;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    font-synthesis: none !important;
  }
}

.typing-cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: white;
  margin-left: 2px;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@layer utilities {
  .border-border-secondary {
    border-color: var(--color-border-secondary);
  }
  .text-white-primary {
    color: #FFFFFF;
  }
  .bg-white-primary {
    background: #FFFFFF;
  }
  .bg-background-primary {
    background-color: rgba(var(--rgb-background-primary)); /* 직접 rgb 값 사용 */
  }
}


